


<%= form_for :session, url: session_path do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit "Sign in" %>
    
  </div>

<% end %>

<%= simple_form_for :session, url: session_path  do |form| %>

  <%= form.input :email, placeholder: 'Enter email' %>

  <%= form.input :password, placeholder: 'Password' %>

  

  <%= form.button :submit %>
<% end %>

    