Your Student List

<%= simple_form_for @student do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.button :submit %>
<% end %>

<% @students.each do |s| %>
<table>

</table>
	<%= link_to "#{s.first_name} #{s.last_name}", student_path(s) %>
<% end %>