<div class="container">
<h2>Students Data</h2>

<br>
<%= @student.first_name %> <%= @student.last_name %>
</br>

<%= render :partial => "books/form" %>

<%= render :partial => "lessons/form" %>



  

<% @books.each do |b| %>
<br>
 <%= link_to "#{b.book_name}" "#{b.book_level}", book_path(b)%>
 </br>
<%end%>
</div>