<div class="row">
  <div class="col-md-8"></div>
  
  <div class="col-md-4">

<%= form_for @note do |form| %>
	<%= form.text_field :body, placeholder: 'Note content here' %>
	<%= form.submit 'Post Note!' %>
	<% end %>

	<%= render @notes %>
	<%= Date.current %>
</div>
	
</div>
	
	